@page
@model CLTeam.Pages.AddPlayer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Add a new player</title>
</head>
<body>
<div>
    <form method="post">
        Player Name: <input type="text" name="name"><br>
        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>