@page
@model IndexModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Manager</title>
</head>
<body>
<h1>Manage your team today!</h1>
<h2><a href="~/Players">Players!</a></h2>
<h2><a href="~/Teams">Teams!</a></h2>
<h2>Games!</h2>
<h2>The winner!</h2>
</body>
</html>